<div class="pautas-contenedor invisible">
  <div class="pauta">
    <img src="https://cdn-icons-png.flaticon.com/512/3344/3344903.png" alt="">
    <p class="pauta-titulo">
      Paga con tarjeta o efectivo
    </p>
    <p class="pauta-subtitulo">
      Tienes meses sin intereses<br>en productos seleccionados
    </p>
  </div>
  <div class="pauta">
    <img src="https://cdn-icons-png.flaticon.com/512/95/95454.png" alt="">
    <p class="pauta-titulo">
      Seguridad de principio a fin
    </p>
    <p class="pauta-subtitulo">
      Si no es lo que esperas,<br>te devolvemos el dinero
    </p>
  </div>
  <div class="pauta">
    <img src="https://cdn-icons-png.flaticon.com/512/70/70535.png" alt="">
    <p class="pauta-titulo">
      Productos originales
    </p>
    <p class="pauta-subtitulo">
      Cuidamos que recibas<br>productos de la mejor calidad
    </p>
  </div>
  <div class="pauta">
    <img src="https://cdn-icons-png.flaticon.com/512/1670/1670915.png" alt="">
    <p class="pauta-titulo">
      Envíos gratis en productos seleccionados
    </p>
    <p class="pauta-subtitulo">
      Tus compras y tus paquetes<br>siempre van protegidos
    </p>
  </div>
</div>

<div class="glider-contain invisible">
  <p>Conoce nuestras marcas</p>
  <div class="glider">
    <a href="/cerafit-fusion">
      <div><img src="https://iili.io/wXsL41.png" alt=""></div>
    </a>
    {{!-- <a href="/cleanica-360">
      <div><img src="https://iili.io/wXsiCB.png" alt=""></div>
    </a> --}}
    <a href="/comfy-wraps">
      <div><img src="https://iili.io/wXssEP.png" alt=""></div>
    </a>
    <a href="/flavorstone">
      <div><img src="https://iili.io/wXs6QV.png" alt=""></div>
    </a>
    <a href="/fold-a-step">
      <div><img src="https://iili.io/wv4NLJ.png" alt=""></div>
    </a>
    <a href="/gymform-leg-action">
      <div><img src="https://iili.io/wv4eqv.png" alt=""></div>
    </a>
    <a href="/my-face-lift">
      <div><img src="https://iili.io/wv4jzg.png" alt=""></div>
    </a>
    <a href="/neatron">
      <div><img src="https://iili.io/wv4wXa.png" alt=""></div>
    </a>
    <a href="/pest-reject-pro">
      <div><img src="https://iili.io/wv4k1R.png" alt=""></div>
    </a>
      {{!-- <div><img src="https://iili.io/wv4SdN.png" alt=""></div> --}}
    <a href="/power-xl">
      <div><img src="https://iili.io/wv4U7I.png" alt=""></div>
    </a>
    <a href="/pure-h2o">
      <div><img src="https://iili.io/wv4get.png" alt=""></div>
    </a>
    <a href="/smart-wonder-core">
      <div><img src="https://iili.io/wv4PXs.png" alt=""></div>
    </a>
    <a href="/wonder-core-2">
      <div><img src="https://iili.io/wv4iLG.png" alt=""></div>
    </a>
  </div>

  <button aria-label="Previous" class="glider-prev">«</button>
  <button aria-label="Next" class="glider-next">»</button>
  <div role="tablist" class="dots"></div>
</div>

<div class="contenedor-iconos-categorias invisible footer-categorías-mobile">
  <p>¡Compra por categoría!</p>
  <div class="iconos-categorias">
    <div class="icono-categoria">
      <a href="/linea-fitness">
        <div class="imagen-background">
          <img src="https://cdn-icons-png.flaticon.com/512/1719/1719695.png" alt="">
        </div>
        <p>Linea Fitness</p>
      </a>
    </div>
    <div class="icono-categoria">
      <a href="/linea-gourmet">
        <div class="imagen-background">
          <img src="https://cdn-icons-png.flaticon.com/512/2728/2728689.png" alt="">
        </div>
        <p>Linea Gourmet</p>
      </a>
    </div>
    <div class="icono-categoria">
      <a href="/linea-bienestar">
        <div class="imagen-background">
          <img src="https://cdn-icons-png.flaticon.com/512/2966/2966334.png" alt="">
        </div>
        <p>Linea Bienestar</p>
      </a>
    </div>
    <div class="icono-categoria">
      <a href="/linea-casa">
        <div class="imagen-background">
          <img src="https://cdn-icons-png.flaticon.com/512/263/263115.png" alt="">
        </div>
        <p>Linea Casa</p>
      </a>
    </div>
  </div>
</div>

<div class="contenedor-iconos-categorias invisible footer-categorías-desktop">
  <p>¡Compra por categoría!</p>
  <div class="iconos-categorias">
    <div class="icono-categoria">
      <a href="/linea-fitness_DisplayType_G">
        <div class="imagen-background">
          <img src="https://cdn-icons-png.flaticon.com/512/1719/1719695.png" alt="">
        </div>
        <p>Linea Fitness</p>
      </a>
    </div>
    <div class="icono-categoria">
      <a href="/linea-gourmet_DisplayType_G">
        <div class="imagen-background">
          <img src="https://cdn-icons-png.flaticon.com/512/2728/2728689.png" alt="">
        </div>
        <p>Linea Gourmet</p>
      </a>
    </div>
    <div class="icono-categoria">
      <a href="/linea-bienestar_DisplayType_G">
        <div class="imagen-background">
          <img src="https://cdn-icons-png.flaticon.com/512/2966/2966334.png" alt="">
        </div>
        <p>Linea Bienestar</p>
      </a>
    </div>
    <div class="icono-categoria">
      <a href="/linea-casa_DisplayType_G">
        <div class="imagen-background">
          <img src="https://cdn-icons-png.flaticon.com/512/263/263115.png" alt="">
        </div>
        <p>Linea Casa</p>
      </a>
    </div>
  </div>
</div>

<div class="contenedor-newsletter">
  <p>¡Suscribite a nuestro Newsletter!</p>
  <div data-dp-form="JyMN3OtnfBcSf39ZDhXT5A%3d%3d"></div>
</div>


<footer class="nav-tools-footer">
  <div class="fashion-nav-footer-contact">
    <div class="footer-desktop">
      <div class="fashion-nav-footer-contact__content footer-superior">
        {{#if logo}}
        <a class="nav-fashion-header__logo" href="/" id="logo-wrapper">
          <span class="nav-header__title-hidden">{{name}}</span>
          <img class="nav-header__image logo-footer" src="https://iili.io/gBTV14.png" alt="{{name}}" itemprop="logo" />
        </a>
        {{else}}
        <h3 class="nav-footer-contact-title header--custom-text">
          <a href="/">{{name}}</a>
        </h3>
        {{/if}}
        <div class="fashion-nav-footer__categories-col redes-sociales-footer">
          <p>Síguenos</p>
          <div class="contenedor-redes-footer">
            <a href="https://www.facebook.com/SwissTradingColatam" rel="noreferrer noopener nofollow" target="_blank"
              class="red-social facebook">
              <img src="https://cdn-icons-png.flaticon.com/512/1384/1384005.png" alt="">
            </a>
            <a href="https://www.instagram.com/swisstradingco/" rel="noreferrer noopener nofollow" target="_blank"
              class="red-social instagram">
              <img src="https://cdn-icons-png.flaticon.com/512/1384/1384015.png" alt="">
            </a>
            <a href="https://www.youtube.com/channel/UCpqlPE2ykI3gJzAHhnct9WA" rel="noreferrer noopener nofollow"
              target="_blank" class="red-social youtube">
              <img src="https://cdn-icons-png.flaticon.com/512/1384/1384012.png" alt="">
            </a>
          </div>
        </div>
      </div>

      <div class="fashion-nav-footer-contact__content footer-inferior">
        <div class="fashion-nav-footer__brand-col header--custom-text contenedor-medios">
          <p>Medios de Pago</p>

          <div class="contenedor-medios-footer">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/a5f047d0-9be0-11ec-aad4-c3381f368aaf-m.svg"
              alt="">
            <img style="width: 35px;" src="https://iili.io/gxPRSI.png" alt="">
            <img style="margin: 0;"
              src="https://http2.mlstatic.com/storage/logos-api-admin/b2c93a40-f3be-11eb-9984-b7076edb0bb7-m.svg"
              alt="">
            <img style="width: 130px;" src="https://beneficios.dinersclub.com.ec/impuestos/img/diners-club-logo.png"
              alt="">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/b4534650-571b-11e8-95d8-631c1a9a92a9-m.svg"
              alt="">
            {{!-- <img
              src="https://http2.mlstatic.com/storage/logos-api-admin/312238e0-571b-11e8-823a-758d95db88db-m.svg"
              alt="">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/157dce60-571b-11e8-95d8-631c1a9a92a9-m.svg"
              alt=""> --}}
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/5e91c320-f3a0-11eb-a186-1134488bf456-m.svg"
              alt="">
            <img style="margin-top: 10px;"
              src="https://http2.mlstatic.com/storage/logos-api-admin/3ba729e0-f3a0-11eb-9984-b7076edb0bb7-m.svg"
              alt="">
          </div>
        </div>

        <div class="fashion-nav-footer__categories-col categorias-footer">
          <span class="fashion-nav-footer__category">
            <a href="/sobre-nosotros" data-id="{{id}}" class="">
              <img src="https://cdn-icons-png.flaticon.com/512/25/25638.png" alt=""> Quienes Somos
            </a>
          </span>
          <span class="fashion-nav-footer__category">
            <a href="/beneficios" data-id="{{id}}" class="">
              <img src="https://cdn-icons-png.flaticon.com/512/25/25638.png" alt=""> Beneficios Para Ti
            </a>
          </span>
          <span class="fashion-nav-footer__category">
            <a href="/p/como-comprar" data-id="{{id}}" class="">
              <img src="https://cdn-icons-png.flaticon.com/512/25/25638.png" alt=""> Preguntas Frecuentes
            </a>
          </span>
          <span class="fashion-nav-footer__category">
            <a href="/p/contacto" data-id="{{id}}" class="">
              <img src="https://cdn-icons-png.flaticon.com/512/25/25638.png" alt=""> Contacto
            </a>
          </span>
        </div>

        <div class="fashion-nav-footer__categories-col contenedor-contacto-footer">
          <p>Contacto</p>
          <div class="contacto-footer">
            <p class="fashion-nav-footer__logo-caption"><span>Dirección:</span> <a target="_blank"
                href="https://goo.gl/maps/tvhKSNxjwCokqocK8">Swiss Trading Co. Av. Pdte. Eduardo
                Frei Montalva #7050, Bodegas 3-4, Quilicura, Santiago, Chile </a></p>
            <p class="fashion-nav-footer__logo-caption"><span>Tel:</span> <a href="tel:22760-3512">2 2760-3512</a></p>
            <p class="fashion-nav-footer__logo-caption"><span>Email:</span> <a
                href="mailto:atencionclientes@swisstradingco.com">atencionclientes@swisstradingco.com</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-mobile">
      <div class="fashion-nav-footer-contact__content">
        <div class="nav-bounds nav-bounds--contact">
          <div class="fashion-nav-footer__brand-col header--custom-text">
            {{#if logo}}
            <a class="nav-fashion-header__logo" href="/" id="logo-wrapper">
              <span class="nav-header__title-hidden">{{name}}</span>
              <img class="nav-header__image logo-footer-mobile" src="https://iili.io/gBTV14.png" alt="{{name}}"
                itemprop="logo" />
            </a>
            {{else}}
            <h3 class="nav-footer-contact-title header--custom-text">
              <a href="/">{{name}}</a>
            </h3>
            {{/if}}
          </div>

          <div class="fashion-nav-footer__categories-col categorias-footer">
            <span class="fashion-nav-footer__category">
              <a href="/sobre-nosotros" data-id="{{id}}" class="">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25638.png" alt=""> Quienes Somos
              </a>
            </span>
            <span class="fashion-nav-footer__category">
              <a href="/beneficios" data-id="{{id}}" class="">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25638.png" alt=""> Beneficios Para Ti
              </a>
            </span>
            <span class="fashion-nav-footer__category">
              <a href="/p/como-comprar" data-id="{{id}}" class="">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25638.png" alt=""> Preguntas Frecuentes
              </a>
            </span>
            <span class="fashion-nav-footer__category">
              <a href="/p/contacto" data-id="{{id}}" class="">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25638.png" alt=""> Contacto
              </a>
            </span>
          </div>

          <div class="fashion-nav-footer__categories-col medios-pago-footer">
            <p>Medios de Pago</p>
            <div class="contenedor-medios-footer">
              <img src="https://http2.mlstatic.com/storage/logos-api-admin/a5f047d0-9be0-11ec-aad4-c3381f368aaf-m.svg"
                alt="">
              <img style="width: 35px;" src="https://iili.io/gxPRSI.png" alt="">
              <img style="margin: 0;"
                src="https://http2.mlstatic.com/storage/logos-api-admin/b2c93a40-f3be-11eb-9984-b7076edb0bb7-m.svg"
                alt="">
              <img style="width: 130px;" src="https://beneficios.dinersclub.com.ec/impuestos/img/diners-club-logo.png"
                alt="">
              <img src="https://http2.mlstatic.com/storage/logos-api-admin/b4534650-571b-11e8-95d8-631c1a9a92a9-m.svg"
                alt="">
              {{!-- <img
                src="https://http2.mlstatic.com/storage/logos-api-admin/312238e0-571b-11e8-823a-758d95db88db-m.svg"
                alt="">
              <img src="https://http2.mlstatic.com/storage/logos-api-admin/157dce60-571b-11e8-95d8-631c1a9a92a9-m.svg"
                alt=""> --}}
              <img src="https://http2.mlstatic.com/storage/logos-api-admin/5e91c320-f3a0-11eb-a186-1134488bf456-m.svg"
                alt="">
              <img style="margin-top: 10px;"
                src="https://http2.mlstatic.com/storage/logos-api-admin/3ba729e0-f3a0-11eb-9984-b7076edb0bb7-m.svg"
                alt="">
            </div>
          </div>

          <div class="fashion-nav-footer__categories-col redes-sociales-footer">
            <p>Síguenos</p>
            <div class="contenedor-redes-footer">
              <a href="https://www.facebook.com/SwissTradingColatam" rel="noreferrer noopener nofollow" target="_blank"
                class="red-social facebook">
                <img src="https://cdn-icons-png.flaticon.com/512/1384/1384005.png" alt="">
              </a>
              <a href="https://www.instagram.com/swisstradingco/" rel="noreferrer noopener nofollow" target="_blank"
                class="red-social instagram">
                <img src="https://cdn-icons-png.flaticon.com/512/1384/1384015.png" alt="">
              </a>
              <a href="https://www.youtube.com/channel/UCpqlPE2ykI3gJzAHhnct9WA" rel="noreferrer noopener nofollow"
                target="_blank" class="red-social youtube">
                <img src="https://cdn-icons-png.flaticon.com/512/1384/1384012.png" alt="">
              </a>
            </div>
          </div>

          <div class="fashion-nav-footer__categories-col redes-sociales-footer">
            <p>Contacto</p>
            <div class="contacto-footer">
              <p class="fashion-nav-footer__logo-caption"><span>Dirección:</span> <a target="_blank"
                  href="https://goo.gl/maps/tvhKSNxjwCokqocK8">Swiss Trading Co. Av. Pdte. Eduardo
                  Frei Montalva #7050, Bodegas 3-4, Quilicura, Santiago, Chile </a></p>
              <p class="fashion-nav-footer__logo-caption"><span>Tel:</span> <a href="tel:22760-3512">2 2760-3512</a></p>
              <p class="fashion-nav-footer__logo-caption"><span>Email:</span> <a
                  href="mailto:atencionclientes@swisstradingco.com">atencionclientes@swisstradingco.com</a></p>
            </div>
          </div>

          {{!-- <div class="fashion-nav-footer__pages header--custom-border">
            <span class="fashion-nav-footer__page">
              <a href="{{linkToHowBuy.href}}" class="header--custom-text">{{linkToHowBuy.label}}</a>
            </span>
          </div> --}}

          {{!-- <div class="fashion-nav-footer__contact-col">
            <div class="fashion-nav-footer__social-media">
              {{#each socialNetworks}}
              <a href="{{url}}" rel="noreferrer noopener nofollow" target="_blank" class="header--custom-svg">
                {{> (concat 'icons/social_networks/' (lookup . 'name'))}}
              </a>
              {{/each}}
            </div>
            {{#if showContact}}
            <ul class="fashion-nav-footer__contact header--custom-border">
              {{#if showPhone}}
              <li class="contact-phone-number">
                <a class="header--custom-text" itemprop="telephone" href="tel:{{phone.raw}}" rel="nofollow">Tel:
                  {{phone.formatted}}</a>
              </li>
              {{/if}}
              {{#if showEmail}}
              <li class="contact-mail">
                <a class="header--custom-text" itemprop="email" href="mailto:{{email}}" rel="nofollow">{{email}}</a>
              </li>
              {{/if}}
              {{#if address}}
              {{#with address}}
              <li>
                <a class="header--custom-text" itemprop="streetAddress">{{address}}</a>
                <a class="header--custom-text" itemprop="addressLocality">{{city}}</a>
                <a class="header--custom-text" itemprop="addressRegion">{{state}}</a>
              </li>
              {{/with}}
              {{/if}}
              <meta itemprop="contactType" content="customer service" />
            </ul>
            {{/if}}
          </div> --}}

        </div>
      </div>
    </div>

  </div>


  <div role="contentinfo" class="fashion-nav-footer nav-footer header--custom-text">
    <div class="nav-bounds nav-bounds--copyright">
      <div class="nav-footer-primaryinfo">
        <small class="nav-footer-copyright">
          <div class="nav-footer-disclaimer">
            <div>
              <div class="nav-footer-about">
                <a href="{{{linkToMShopsLandingPage}}}" target="_blank"
                  class="header--custom-text">{{i18n.powered_by}}</a>
                {{#if linkToLegalNotices}}
                <a href="{{linkToLegalNotices.href}}" class="header--custom-text">{{linkToLegalNotices.label}}</a>
                {{/if}}
                {{#if linkToLGPD}}
                <a href="{{linkToLGPD.href}}" class="header--custom-text">{{linkToLGPD.label}}</a>
                {{/if}}
              </div>
              {{#if showBusinessData}}
              {{#with fiscalData}}
              <div class="nav-footer-fiscal-data">
                <p class="nav-footer-fiscal-data__name">{{legal_name}}</p>
                <p class="nav-footer-fiscal-data__id">{{legal_doc}}</p>
              </div>
              {{/with}}
              {{/if}}
            </div>
            {{#if showQrData}}
            {{#with fiscalData}}
            <a href={{qr_link}} target="_F960AFIPInfo">
              <img class="nav-footer-afip-img" src={{qr_img}} alt="Data fiscal" />
            </a>
            {{/with}}
            {{/if}}
          </div>
        </small>
      </div>
    </div>
  </div>
  <div class="disclamer-footer">
    <p>&copy; Swiss Trading Company SpA | Todos los derechos Reservados | Swiss Trading Company SpA es una marca
      registrada. | <a href="https://www.swisstradingco.com/cl.terminos.php" target="_blank">Términos, condiciones y
        políticas de
        privacidad.</a></p>
  </div>
</footer>